<nav class="navbar">
  <div class="logo">
    <img src="/FONDO_ORI.png" alt="Logo Veterinaria" />
  </div>

  <ul>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/servicios">Servicios</a></li>
    <li><a routerLink="/domicilio">Servicio a Domicilio</a></li>
    <li><a routerLink="/galeria">Galería</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    

  </ul>

  <div class="actions">
    <button class="btn btn-success" routerLink="/reservas">RESERVA TU CITA PARA TU MASCOTA</button>
    <button class="btn-cart">🛒 <span class="badge">0</span></button>
  </div>
</nav>
