<!-- ENCABEZADO + BUSCADOR -->
<div class="productos-header">
  <h2>NUESTROS PRODUCTOS</h2>

  <div class="search-bar">
    <input type="text" [(ngModel)]="terminoBusqueda" placeholder="🔍 Buscar productos...">
  </div>
</div>


<!-- FILTROS -->
<div class="filtros">
  <button 
    *ngFor="let cat of categorias" 
    [class.active]="categoriaActiva === cat.nombre"
    (click)="cambiarCategoria(cat.nombre)">
    {{cat.icono}} {{cat.nombre}}
  </button>
</div>

<!-- GRID DE PRODUCTOS -->
<div class="productos-grid">
  <div class="card" *ngFor="let p of productosFiltrados">
    <img [src]="p.imagen" [alt]="p.nombre">
    <div class="card-content">
      <h3>{{ p.nombre }}</h3>
      <p>{{ p.descripcion }}</p>
      <span class="precio">\${{ p.precio }}</span>
      <button>Agregar al Carrito</button>
    </div>
  </div>
</div>
